.grid_container {
  padding: 30px;
  /* margin-top: 50px; */
}

.pimage {
  transition: all 0.5s ease-in-out;
}

.pimage:hover {
  transform: scale(1.05);
}

.tech_images {
  width: 40px;
  height: 40px;
  margin: 0px 5px;
}

.content {
  padding: 40px 20px;
}

.github_img {
  height: 48px;
}

.github_button {
  border-radius: 60px;
  margin-bottom: 30px;
  font-size: 3rem;
}

@media screen and (max-width: 480px) {
  .content {
    padding: 5px;
  }

  /* .content {
    border-bottom: 1px solid black;
  } */
}
