.quote_img {
  height: 100px;
}

.container {
  margin: 0px 0px;
  padding: 50px;
}

.grid {
  margin: 0px 20px;
}

.user_area {
  display: flex;
  align-items: center;
}

.content {
  margin: 0px 0px 30px 0px;
  font-size: 1rem;
  font-style: italic;
}

.test_img {
  height: 60px;
  width: 60px;
  border-radius: 50px;
  margin-right: 30px;
}

.name {
  margin: 5px 0px;
}

.company {
  margin: 5px 0px;
}
